html, body
  bg          #F0
  color       #333
  margin      0 auto
  height      100%
  font-size   16px
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif 
  font-weight 300
  
*, *:before, *:after
  box-sizing border-box
  
.text-center
  text-align center

.vertical-align
  display         flex
  align-items     center
  justify-content center

#render-container
  bg            #F0
  size          1024px 768px
  margin        0 auto
  border        5px solid white
  display       block
  box-shadow    0 0 6px 2px rgba(black, .15)
  border-radius 5px
  canvas
    size 100%