html,
body {
  background-color: #f0f0f0;
  color: #333;
  margin: 0 auto;
  height: 100%;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.vertical-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#render-container {
  background-color: #f0f0f0;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  border: 5px solid #fff;
  display: block;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
}
#render-container canvas {
  width: 100%;
  height: 100%;
}
